

.music {
  background-color: #050505;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.music .div {
  background-color: #ffffff;
  border: 1px none;
  height: 1810px;
  position: relative;
  width: 1440px;
}

.music .overlap-group {
  background-color: #000000;
  height: 1810px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.music .image {
  height: 301px;
  left: 138px;
  object-fit: cover;
  position: absolute;
  top: 253px;
  width: 287px;
}

.music .img {
  height: 288px;
  left: 531px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 287px;
}

.music .image-2 {
  height: 288px;
  left: 154px;
  object-fit: cover;
  position: absolute;
  top: 702px;
  width: 271px;
}

.music .image-3 {
  height: 288px;
  left: 507px;
  object-fit: cover;
  position: absolute;
  top: 702px;
  width: 311px;
}

.music .image-4 {
  height: 329px;
  left: 122px;
  object-fit: cover;
  position: absolute;
  top: 1072px;
  width: 303px;
}

.music .text-wrapper {
  color: #41e999;
  font-family: "Metamorphous-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 122px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 53px;
  width: 303px;
}

.music .text-wrapper-2 {
  color: #41e999;
  font-family: "Metamorphous-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 1211px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 63px;
  width: 83px;
}

.music .text-wrapper-3 {
  color: #41e999;
  font-family: "Metamorphous-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 924px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: right;
  top: 387px;
  width: 370px;
}

.image:hover,
.img:hover,
.image-2:hover,
.image-3:hover,
.image-4:hover {
    transform: scale(1.1); /* Add a scale transformation on hover */
    transition: transform 0.3s ease; /* Add a smooth transition for the animation */
}

/* ... Existing styles ... */

.text-wrapper-2:hover {
  color: red; /* Change text color on hover */
  transition: color 0.3s ease; /* Add a smooth color transition */
}
